{%extends 'layout.html'%} {%block navigation%}{%endblock navigation%} {%block content%}
<div id="home-container" class="container-fluid d-grid gap-3">
  <img
    src="{{url_for('static',filename='images/chatbot.png')}}"
    alt="Mental Health Chatbot Picture"
    class="rounded-circle border border-secondary mt-3 mx-auto d-block shadow"
    style="width: 21.875rem; height: 21.875rem"
  />
  <h1
    id="chatbot-name"
    class="mx-auto my-2 fw-bold font-monospace border-bottom border-info"
  >
    Mental Health Chatbot
  </h1>



        {% if current_user.is_authenticated %}
        <a
          id="chat-now-link"
          class="btn btn-info mx-auto d-block"
          style="
            --bs-btn-padding-y: 1.25rem;
            --bs-btn-padding-x: 5.5rem;
            --bs-btn-font-size: 2rem;
            --bs-btn-font-weight: 700;
          "
          href="{{url_for('chatbot.chat')}}"
        >
          CHAT NOW
        </a>
        {% else %}
        <button
          id="start-now-link"
          class="btn btn-info mx-auto d-block"
          style="
            --bs-btn-padding-y: 1.25rem;
            --bs-btn-padding-x: 5.5rem;
            --bs-btn-font-size: 2rem;
            --bs-btn-font-weight: 700;
          "
          data-bs-toggle="modal"
          data-bs-target="#entryModal"
        >
        LOGIN / REGISTER
        </button>
        <div
          class="modal fade"
          id="entryModal"
          tabindex="-1"
          aria-labelledby="entryModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <h1 class="modal-title fw-bold font-monospace lh-sm">
                  Login / Register
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col d-flex flex-column align-items-center">
                    <small class="text-muted">Already Have an Account?</small>
                    <a
                      class="btn btn-outline-info btn-lg mt-1"
                      href="{{url_for('users.login')}}"
                      >Login Now</a
                    >
                  </div>
                  <div class="col d-flex flex-column align-items-center">
                    <small class="text-muted">New User? Wohoo</small>
                    <a
                      class="btn btn-outline-info btn-lg mt-1"
                      href="{{url_for('users.register')}}"
                      >Register Now</a
                    >
                  </div>
                </div>
              </div>
              <hr />
              <div class="modal-header border-bottom-0 pb-0">
                <h1 class="modal-title fw-bold font-monospace lh-sm">
                  Or as Guest
                </h1>
              </div>
              <div class="modal-body">
                <a
                  class="btn btn-outline-info btn-lg d-block"
                  href="{{url_for('chatbot.chat')}}"
                  style="--bs-btn-padding-x: 2.5rem"
                  >Continue</a
                >
              </div>
            </div>
          </div>
        </div>
        {%endif%}
      

    <a
      href="{{url_for('main.about')}}"
      id="about-me-link"
      class="btn btn-outline-info mx-auto d-block"
      style="
        --bs-btn-padding-y: 1.25rem;
        --bs-btn-padding-x: 5.5rem;
        --bs-btn-font-size: 2rem;
        --bs-btn-border-width: 0;
      "
    >
      About Us
    </a>
    {%if current_user.is_authenticated %}
        <a
          href="{{url_for('users.logout')}}"
          id="about-me-link"
          class="btn btn-outline-secondary mx-auto d-block"
          style="
            --bs-btn-padding-x: 3.5rem;
            --bs-btn-font-size: 1rem;
          "
        >
          Logout
        </a>
      {%endif%}
  </div>
  
  {%endblock content%}
</div>
