{%extends "layout.html"%} {%block content%}
<div class="container-sm px-5">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset class="form-group d-grid gap-3">
      <legend
        class="fs-1 fw-bold font-monospace border-bottom border-info mb-3 mt-2"
      >
        Reset Password
      </legend>
      <div class="form-group">
        {{form.email.label(class="form-control-label")}} {%if
        form.email.errors%} {{form.email(class="form-control form-control-lg
        is-invalid")}} {%for error in form.email.errors%}
        <div class="invalid-feedback">{{error}}</div>
        {%endfor%} {%else%} {{form.email(class="form-control form-control-lg")}}
        {%endif%}
      </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info btn-lg mt-3 mb-1")}}
    </div>
  </form>
</div>
{% endblock content%}