{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in Malaysia
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Lifeline Association Malaysia</h4>Contact Number: 03-42657995 <br><a class="link-info text-decoration-none" href="https://lifeline.org.my/7995/?lang=en" target="_blank">https://lifeline.org.my</a></li>
            <li class="list-group-item"><h4>Befrienders Kuala Lumpur</h4>Contact Number: 03-76272929 <br><a class="link-info text-decoration-none" href="https://www.befrienders.org.my" target="_blank">https://www.befrienders.org.my</a><br><a class="link-info text-decoration-none" href="https://www.befrienders.org.my/centre-in-malaysia" target="_blank">Check Out Other Area</a></li>
            <li class="list-group-item"><h4>Malaysian Mental Health Association (MMHA)</h4>
                Contact Number: +603-27806803/+6017-6133039<br>
                <a class="link-info text-decoration-none" href="https://mmha.org.my" target="_blank">https://mmha.org.my</a></li>
            <li class="list-group-item"><h4>Relate Malaysia</h4>
                Contact Number: N/A<br>
                <a class="link-info text-decoration-none" href="https://relate.com.my" target="_blank">https://relate.com.my</a></li>
            <li class="list-group-item"><h4>Mental Illness Awareness and Support Association (MIASA)</h4>
                Contact Number: 1-800-820066<br>
                <a class="link-info text-decoration-none" href="https://www.miasa.org.my" target="_blank">https://www.miasa.org.my</a></li>       
        </ul>
    </div>
</div>
{%endblock content%}