:root {
  --body-bg: linear-gradient(135deg, #ffffff 0%, #f5f7fa 100%);
  --chat-bg: #ffffff;
  --border: 1px solid var(--bs-info);
  --img-border: 1px solid #000000;
  --left-msg-bg: #aaeeff;
  --right-msg-bg: #d8d8d8;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: var(--body-bg);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.title {
  font-size: 2em;
  font-weight: bold;
}
.chatbot {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 92%;
}
.chatbot-profile {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  border-left: var(--border);
  background: var(--chat-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
}

.main-chat {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.main-chat::-webkit-scrollbar {
  width: 10px;
}
.main-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.main-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.chat {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.chat-bubble {
  max-width: 480px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.chat-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.chat-info-time {
  font-size: 0.85em;
}

.left-msg .chat-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .chat-bubble {
  background: var(--right-msg-bg);
  color: #000000;
  border-bottom-right-radius: 0;
}
.right-msg .chat-image {
  margin: 0 0 0 10px;
}
.tools {
  display: flex;
  padding: 10px;
}

.chat-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.chat-inputarea * {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.chat-input::placeholder {
  font-style: italic;
}

.chat-input {
  flex: 1;
  background: #aaeeff;
}

.chat-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: var(--img-border);
}

audio::-webkit-media-controls {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 5px;
}
audio::-webkit-media-controls-play-button {
  background-color: #aaeeff;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
}
